{% extends "base.html" %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
{% endblock %} {% block title %}Página de Detalhes da Notícia{% endblock %} 
{% block content %}
<h1 class="news-title">{{ news.title }}</h1>
{% if news.image %}
<img src="/static{{ news.image.url }}" alt="{{ news.title }}" />
{% endif %}
<span class="news-date">{{ news.created_at|date:"d/m/Y" }}</span>
<p class="news-content">{{ news.content }}</p>
<span class="news-author">{{ news.author }}</span>
{% for category in news.categories.all %}
<span class="news-categories">{{ category }}</span>
{% endfor %} {% endblock %}